extends layout

block content
    h1= title
    form(action="http://localhost:3100/gems/create/save" method="POST")
      div 
        label.form-label Name:
        input.form-control(type="text" name="name" placeholder="")
      div 
        label.form-label Origin:
        input.form-control(type="text" name="origin" placeholder="")
      div 
        label.form-label Weight:
        input.form-control(type="text" name="weight" placeholder="")
      div 
        label.form-label Clarity:
        input.form-control(type="text" name="clarity" placeholder="")
      div 
        label.form-label Cut:
        input.form-control(type="text" name="cut" placeholder="")
      div 
        label.form-label Measurement:
        input.form-control(type="text" name="measurement" placeholder="")
      div 
        label.form-label Color:
        input.form-control(type="text" name="color" placeholder="")
      div 
        label.form-label Treatment:
        input.form-control(type="text" name="treatment" placeholder="")
      div
        label.form-label Price:
        input.form-control(type="text" name="price" placeholder="")
      div.mt-3
        input.btn.btn-primary(value='Submit', type='submit')