div.container
    footer.py-3.my-4
        //- ul.nav.justify-content-center.border-bottom.pb-3.mb-3
        //-     li.nav-item
        //-         a.nav-link.px-2.text-muted Home
        //-     li.nav-item
        //-         a.nav-link.px-2.text-muted Features
        //-     li.nav-item
        //-         a.nav-link.px-2.text-muted Pricing
        p.text-center.text-muted
            |© 2022 MultiGem, Inc