div.container
    header.d-flex.justify-content-center.py-3.align-items-center
        img(src="/images/MultiGemTrading.png", alt="MultiGem Trading" height="150px").me-5
        ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
                a(href="/").nav-link.px-2.link-secondary.me-5 Home
            li
                a(href="/gems/all").nav-link.px-2.link-secondary.me-5 Gems
            li
                a(href="/gems/create").nav-link.px-2.link-secondary.me-5 Add