extends layout

block content
  div.container
    div.row.justify-content-center
      div.d-grid.gap-2.col-5.mx-auto
        button.btn.btn-primary(type="button")
          a.nav-link(href="/gems/all") View Gems
        button.btn.btn-outline-primary(type="button") 
          a.nav-link(href="/gems/create") Add New Gem